[submodule "DrawerArrowDrawable"]
	path = DrawerArrowDrawable
	url = https://github.com/ChrisRenke/DrawerArrowDrawable.git
[submodule "jsoup"]
	path = jsoup
	url = https://github.com/jhy/jsoup.git
[submodule "RippleEffect"]
	path = RippleEffect
	url = https://github.com/traex/RippleEffect.git
[submodule "MaterialEditText"]
	path = MaterialEditText
	url = https://github.com/rengwuxian/MaterialEditText.git
[submodule "FlatUI"]
	path = FlatUI
	url = https://github.com/eluleci/FlatUI.git
[submodule "AlertDialogPro"]
	path = AlertDialogPro
	url = https://github.com/fengdai/AlertDialogPro.git
